<!-- <div class="userMain">

    <div class = "wrap" *ngIf="viewedUserIndex == undefined">
        <div class="headsearch">
            <div class="webdesigntuts-workshop">
                <input class="forInput" type="text" placeholder="Search here..." required (change)="search(searchVal.value)" #searchVal>
                <button (click)="searchVal.value=''" (click)="ngOnInit();" class="clear">Clear</button>
                
            </div>
        </div>
        <table>
            
            <thead>
                <tr>
                    <th>
                        <H3>Accounts</H3>
                    </th>
                </tr>
    
                <tr>
                    
                    <th>Name</th>
                    <th>ID No.</th>
                    <th>Department</th>
                    <th>College Name</th>
                    <th>On Leave</th>
                    <th>Resigned</th>
                    <th>Actions</th>
                </tr>
                
                <tbody>
                    <tr *ngFor="let account of accounts; index as i">
                        
                        <td>{{ account.name }}</td>
                        <td>{{ account.id }}</td>
                        <td>{{ account.department }}</td>
                        <td>{{ account.collegeName }}</td>
                        <td>{{ account.onLeave }}</td>
                        <td>{{ account.onResigned }} <fa-icon (click)="setResigned(i)" [icon]="faTrash"></fa-icon></td>
                        
                        <td>
                            <fa-icon (click)="deleteUser(i)" [icon]="faTrash"></fa-icon>
                            <fa-icon (click)="viewUserData(i)" [icon]="faEdit"></fa-icon>
                        </td>
                    </tr>
                </tbody>
              
        </table>
    </div>
  
    
</div> -->
<div class="container">
    <div style="margin-top: 10px;">
        <mat-form-field appearance="standard">
            <mat-label> Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Search Element" #input>
        </mat-form-field>


        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">
  
      <!-- Position Column -->
      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="Date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element"> {{element.date}} </td>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="Time">
        <th mat-header-cell *matHeaderCellDef> Time </th>
        <td mat-cell *matCellDef="let element"> {{element.time}} </td>
      </ng-container>
  

      <ng-container matColumnDef="Department">
        <th mat-header-cell *matHeaderCellDef> Department </th>
        <td mat-cell *matCellDef="let element"> {{element.department}} </td>
      </ng-container>

  
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element">
                <button (click)="editAttendance(element)" mat-button color="primary">
                <mat-icon> edit</mat-icon>
                </button> 
                <button  mat-button color="warn" >
                    <mat-icon> delete_outline</mat-icon>
                    </button> 
                </td>
            
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons 
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>

  

      </div>
  </div>