<div class="mainContent">
    <div class="login">
        <h2 class="active"> Attendance Form </h2>
        <form class="inputs" [formGroup]="attendanceForm">
            <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input type="text" name="NAME" formControlName="fcName" matInput placeholder="Full Name">
                <mat-icon matSuffix>perm_identity</mat-icon>
              </mat-form-field>
              
              <mat-form-field appearance="outline">
                <mat-label>Date</mat-label>
                <input type="text" name="DATE" formControlName="fcDate" placeholder="MM/DD/YYYY" matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Time</mat-label>
                <input type="text" name="TIME" formControlName="fcTime" matInput placeholder="HH:MM XM">
                <mat-icon matSuffix>query_builder</mat-icon>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Class Code</mat-label>
                <input type="text" name="CLASSCODE" formControlName="fcClassCode" matInput placeholder="Ex. BCL203">
                <mat-icon matSuffix>class</mat-icon>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Department</mat-label>
                <input type="text" name="DEPT" formControlName="fcDept" matInput placeholder="Ex. SCS">
                <mat-icon matSuffix>store</mat-icon>
              </mat-form-field>
            </form>
             




            <!-- <label for="NAME">Name</label>
            <input type="text" name="NAME" formControlName="fcName" />
            <label for="DEPT">Date</label>
            <input type="text" name="DATE" formControlName="fcDate" />
            <label for="COLNAME">Time</label>
            <input type="text" name="TIME" formControlName="fcTime" />
            <label for="COLNAME">Class Code</label>
            <input type="text" name="CLASSCODE" formControlName="fcClassCode" />
            <label for="COLNAME">Department</label>
            <input type="text" name="DEPT" formControlName="fcDept" /> -->
            


           <!-- <label for="ONLEAVE"> <input type="checkbox" name="ONLEAVE" formControlName="fcOnLeave">On Leave</label>
           <label for="ONRESIGNED"> <input type="checkbox" name="ONRESIGNED" formControlName="fcOnResigned">On Resigned</label> -->

            

            <!-- <p>{{ error }}</p>
            <p>{{attendanceForm.value | json}}</p>
            <p>{{ attendanceForm.status }}</p> -->
            <button  (click)="updateAttendance()" class="submit" type="submit" [disabled]="!attendanceForm.valid">Update</button>
        <div mat-dialog-action [align]="'center'">
        <button  mat-raised-button color="warn" mat-dialog-close>Close</button>
        </div>
    </div>
</div>
