<div class="mainContent">
  <div class="login">
    <div class="actions" mat-dialog-action [align]="'center'">
      <h2 class="active"> Sign Up </h2>
      
        <form class="inputs" [formGroup]="accountForm">
            <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input type="text" name="NAME" formControlName="name" matInput placeholder="Full Name">
                <mat-icon matSuffix>perm_identity</mat-icon>
              </mat-form-field>
              

              <mat-form-field appearance="outline">
                <mat-label>Department</mat-label>
                <input type="text" name="DEPARTMENT" formControlName="department" matInput placeholder="Ex. SCS">
                <mat-icon matSuffix>store</mat-icon>
              </mat-form-field>
              
              <mat-form-field appearance="outline">
                <mat-label>College Name</mat-label>
                <input type="text" name="COLLEGENAME" formControlName="collegeName" matInput placeholder="EX.University of San Jose - Recoletos">
                <mat-icon matSuffix>class</mat-icon>
              </mat-form-field>

              

             

            
             </form>
            </div>



           
            <div class="actions" mat-dialog-action [align]="'center'">
            <button  (click)="submit()" class="submit" type="submit" >Create Account</button>
              <button mat-raised-button color="warn" (click)="nav('login')">BACK TO LOGIN</button>
          </div>
      </div>
  </div>