table {
    width: 100%;
  }

  .mat-form-field{
    font-size: 14px;
    width: 100%;
  }

  .container{
    max-width: 100%;
  }

  .names:hover{
    
    cursor: pointer;
    color: blue;
    
  }
  .names{
    margin-top: 15px;
    color: black;
    text-decoration: none;
  }

  h2{
  
    top: 0px;
    z-index: 1;
    background-color: rgb(27,30,36);
    color: rgb(220,220,220);
  }